@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #FAFFAF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.logo {
  margin-left: 70px;
  padding-top: 20px;
  width: 2%;
}
main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-left: 80px;
}
.text-area {
  border: none;
  color: #03346E;
  margin-top: 90px;
  resize: none;
  text-transform: lowercase;
}
::placeholder { 
  color: #03346E;
  text-transform: none;
  font-weight: 500;
}
.text-area:focus {
  outline: none;
}
.mensagem {
  background: #FFF7F1;
  background-image: url(/imgs/crypto.svg);
  border: none;
  border-radius: 24px;
  color: #03346E;
  font-weight: 500;
  margin-left: 98px;
  margin-top: 20px;
  padding: 60px 10px 0 20px;
  position: relative;
}
.mensagem:focus {
  outline: none;
}
.btns {
  display: flex;
  margin-top: 50px;
}
.btn-criptografar {
  background-color: #5A72A0;
  border: 1px solid #5A72A0;
  border-radius: 24px;
  color: #FFF7F1;
  cursor: pointer;
  height: 67px;
  width: 328px;
}
.btn-criptografar:hover {
  background-color: #FFF7F1;
  color: #03346E;
  transition: 0.3s;
}
.btn-descriptografar {
  background: #FFF7F1;
  border: 1px solid #5A72A0;
  border-radius: 24px;
  color: #03346E;
  cursor: pointer;
  height: 67px;
  margin-left: 30px;
  width: 328px;
}
.btn-descriptografar:hover {
  background-color: #5A72A0;
  color: #FFF7F1;
  transition: 0.3s;
}
.btn-copiar {
  border: 1px solid #5A72A0;
  border-radius: 24px;
  color: #03346E;
  cursor: pointer;
  height: 67px;
  margin-left: 155px;
  margin-top: -150px;
  position: absolute;
  width: 336px;
}
.btn-copiar:hover {
  background-color: #5A72A0;
  color: #FDFFE2;
  transition: 0.3s;
}
.informacao {
  padding-top: 100px;
} 
h6 {
  color: #03346E;
  font-size: 18px;
}
span {
  background-color: #03346E;
  border-radius: 50%;
  color: #FFF7F1;
  padding: 2px 11px;
  font-size: 18px;
  font-weight: bold;
}
footer {
  text-align: center;
  margin-top: 5%;
  color: #03346E;
  font-weight: 900;
}
.error-message {
  color: #ff0000;
}

@media(max-width:1200px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    display: flex;
    margin: 20px 0 0 60px; 
    width: 40px; 
  }
  .btns {
    margin-left: -60px;
  }

  .container-descriptografar { 
    margin-top: 100px;
    margin-left: -80px;
    padding-right: 100px;
    justify-content: center;
    flex-direction: column;
  }

  .btn-copiar {
    margin-top: -120px;
  }
  footer {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media(max-width: 480px) {
  .logo {
    margin-left: 40px;
    width: 30px;
  }
  .text-area {
    font-size: 24px;
    margin-left: -60px;
    width: 400px;
    height: 200px;
  }
  h6 {
    margin-left: -30px;
    font-size: 14px;
    margin-bottom: -30px;
  }

  .btns {
    flex-direction: column;
    gap: 20px;
  }
  .btn-criptografar {
    margin-left: 30px;
  }
  .mensagem {
    width: 350px;
    height: 400px;
  }
  .btn-mensagem {
    margin-left: -30px;
  }
  .dev {
    font-size: 24px;
  }
}
@media(max-width: 375px) {
  .text-area {
    width: 290px;
  }
  h6 {
    font-size: 12px;
  }
  .btn-criptografar, .btn-descriptografar {
    font-size: 24px;
    height: 47px;
    width: 228px;
  }
  .informacao {
    margin-left: -30px;
  }
  .mensagem {
    width: 250px;
    height: 400px;
    margin-top: -40px;
  }
  .btn-copiar {
    margin-left: 160px;
    height: 47px;
    width: 228px;
  }
  .dev {
    font-size: 18px;
  }
}
